.products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    max-height: max-content;
    height: 100%;

    .productsWrapper {
        width: 100%;
        max-width: 1800px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
    }
}