.products {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;

    .productsWrapper {
        width: 90%;
        height: max-content;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 22px;
    }
}