@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.navbar {
    width: 100%;
    height: 60px;
    color: #222;
    display: flex;
    font-family: 'Nunito', sans-serif;
    background-color: white;
    z-index: 20;

    @media screen and (max-width : 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .menuIconBar {
        display: none;
        @media screen and (max-width : 768px) {
            display: block;
        }
    }

    .menu_mobile_hidden {
        display: none;
        .menu_links {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            padding-top: 50px;
            gap: 22px;

            span {
                font-size: 16px;
                color: #222;

                &:hover {
                    color: crimson;
                }
            }
        }
        @media screen and (max-width : 768px) {
            display: flex;
            position: absolute;
            width: 100%;
            min-height: 100%;
            height: 100vh;
            background-color: #cacaca;
            border: 1px solid black;
            top: 60px;
            transform: translateX(-100vw);
            transition: all 0.7s ease;

            body {
                overflow: hidden;
            }
        }
    }
    .menu_mobile_show {
        display: none;
        .menu_links {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            padding-top: 50px;
            gap: 22px;

            span {
                font-size: 16px;
                color: #222;

                &:hover {
                    color: crimson;
                }
            }
        }
        @media screen and (max-width : 768px) {
            display: flex;
            position: absolute;
            width: 100%;
            min-height: 100%;
            height: 100vh;
            background-color: white;
            border: 1px solid black;
            top: 60px;
            transform: translateX(0);
            transition: all 0.7s ease;
        }
    }

    .left {
        flex: 2;
        display: flex;
        align-items: center;
        padding-left: 22px;

        .search_wrapper {
            width: 100%;
            position: relative;
            z-index: 99;

            @media screen and (max-width : 768px) {
                display: none;
            }

            .search {
                display: flex;
                align-items: center;
                background-color: white;
                border-radius: 2px;
                border: 1px solid #cacaca;
                height: 35px;
                padding-left: 5px;
                transition: all 1s ease;
                width: 40%;

                .iconSearch {
                    border-right: 1px solid #cacaca;
                    margin-right: 4px;
                    cursor: pointer;

                    &:active {
                        color: #cacaca;
                    }
                }

                input {
                    border: none;
                    outline: none;
                    padding: 5px;
                }
            }

            .filteredResults {
                position: absolute;
                border: 1px solid #cacaca;
                border-top: none;
                border-radius: 2px;
                width: 40%;
                max-height: 200px;
                overflow-y: scroll;
                
                .single_results {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    background-color: #111;
                    color: white;
                    padding-left: 12px;
                    border-bottom: 1px solid #cacaca;

                    &:hover {
                        background-color: #222;
                        color: white;
                        cursor: pointer;

                        .title {
                            color: #78bc24;
                        }
                    }


                    img {
                        width: 70px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        object-fit: cover;
                    }

                    .title {
                        font-size: 14px;
                        color: white;
                        cursor: pointer;
                        transition: all 0.5s ease;

                        &:hover {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .middle {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            font-size: 28px;
            color: #111;
            cursor: pointer;


        }
    }

    .right {
        flex: 2;
        display: flex;
        gap: 22px;
        justify-content: end;
        align-items: center;
        padding-right: 22px;

        .buttonsRight {
            padding: 6px 10px;
            border: 1px solid #222;
            cursor: pointer;

            @media screen and (max-width : 768px) {
                display: none;
            }
        }

        .logoRight {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;

            .iconRight {
                font-size: 26px;
            }

            .number {
                position: absolute;
                top: -12px;
                color: white;
                background-color: red;
                border-radius: 50%;
                width: 18px;
                height: 18px;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    font-size: 14px;
                }
            }
        }
    }
}