.wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .steps {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .step {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;

            .number {
                color: pink;
                font-size: 22px;
            }

            .circle {
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background-color: pink;
            }

            .title {
                font-size: 14px;
                color: #222;
            }
        }
    }
}