.productWhole {
    display: flex;
    .sliderProduct {
        flex: 0.4;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-end;
        align-items: flex-end;
        padding-top: 50px;

        .categoriesItem {
            width: 100%;
            cursor: pointer;
            text-transform: capitalize;
            width: 60%;
            font-size: 15px;
        }
    }

    .productPage {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 22px;

        @media screen and (max-width : 768px) {
            flex: 0;
        }
    }
}

.products_mobile {
    width: 100%;
    min-height: 100vh;
    height: max-content;
}